<nav  class="navbar navbar-expand-lg bg-body-transperant navbar-light ">
    <div class="container mt-3">
        <div class="col-8 " style="text-align: left; ">
          <a class="navbar-brand  " routerLink="course/home"><img height="75px" width="300px" src="../assets/images/logo.jpg" alt="app"></a>
</div>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="item nav-link active  " aria-current="page" routerLink="course/home">Home</a>
      </li>
      <li class=" nav-item">
        <a class="item nav-link active " aria-current="page" routerLink="course/home/courses">Courses</a>
      </li>
      <li class="nav-item">
        <a class="item nav-link active " aria-current="page" routerLink="course/home/placements">Placements</a>
      </li>
      <li class="nav-item">
        <a class="item nav-link active " aria-current="page" routerLink="course/home/gallery">Gallery</a>
      </li>
      <li class="nav-item">
        <a class="item nav-link active " aria-current="page" routerLink="course/home/about_us">About</a>
      </li>
      <li class="nav-item">
        <a class="item nav-link active " aria-current="page" routerLink="course/home/courses/contact_us">Contact</a>
      </li>
    </ul>
   
  </div>
</div>
</nav>