.card{
    width: 40rem ; 
    margin-left: 35px; 
    background-color: white;
}

.card i{
    color: green;
}

.card:hover i{
    color: black;
}

.card:hover{
    background-color: rgb(210, 251, 210);

}

.card h5{
    color: green;

}

.card:hover h5{
    color: black;
}