<div class="error w3-container w3-half" >
    <img src="https://png.pngtree.com/png-clipart/20220715/ourmid/pngtree-sad-emoji-3d-icon-social-media-facebook-png-image_5952574.png" alt="">
    <h1 style="font-size: 50px; font-weight:bold; ">Sorry!</h1>
    <h2 style="font-weight:bold; font-size: 46px;">We can't seem to find the resource you're looking for.</h2>
    <p style="font-size: 26px; ">Please check that the Web site address is spelled correctly.</p>
    <button class="btn btn-primary "><a class="text-light" style="text-decoration: none;" routerLink="">Go To Home</a></button>
  </div>