


<!-- part-1 -->
<div class="mt-3" style="background-color: rgb(246, 248, 250); height: 500px;">
    <div class="row" >
        <div class="col-6 ">    
            <img style="margin-left: 100px; margin-top: 50px;" width="70%" height="400px" src="https://thumbs.dreamstime.com/b/man-woman-working-computer-flat-style-cartoon-102690715.jpg" alt="">
        </div>
        <div class="col-6 ">
            <div class=" mt-5 " style="margin-right: 100px;">
                <h1 class="fw-bold" style="color: green; font-family: 'Instrument Serif', serif;  margin-top: 75px; ">Big Data- Hadoop| Best Data Science </h1>
                <h4 class="fw-bold mt-3" style="color: green;">Training in Kochi</h4>
                <p class="mt-5 fw-bold fs-4" style="color: rgb(104, 104, 104);">SkillMentor is a leading training institute in Kochi offering advanced IT courses such as Big Data, Data Science, Mean Stack, Python, Testing training etc.
                </p>
            </div>
        </div>
        
    </div>
</div>


