<div>
  <!-- part-1 -->
  <div  class="part1 mt-5 " >
      <div style="background-image: url('https://img.freepik.com/free-photo/flat-lay-desktop-with-agenda-succulent-plant_23-2148430892.jpg'); width: 100%;
      height: 626px;
      background-repeat: no-repeat;
      background-size: cover;">
          <!-- row-1 -->
          <div class="row mt-5">
            <div class="col-6 text-light mt-3 " >
              <h1 style=" font-family: 'Instrument Serif', serif; margin-top: 150px;" class="fw-bold ms-5 mb-5 text-center">So why wait? Start one of our high quality courses from the world's leading experts today!</h1>
              <h6 class=" ms-5 text-center text-warning" style="font-family: 'Prompt', sans-serif;">If You Have Any Questions Call Us / Whatsapp On +91 908 675 1551</h6>
            </div>
            <div class="mt-5" style="margin-left: 300px;">
              <button class="btn btn-light " data-bs-toggle="modal" data-bs-target="#exampleModal" type="button">JOIN NOW</button>
            </div>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Join Now</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                      <input class="form-control mb-3" type="text" placeholder="Name" aria-label="default input example">
                      <input class="form-control mb-3" type="text" placeholder="Email" aria-label="default input example">
                      <input class="form-control mb-3" type="text" placeholder="Phone No." aria-label="default input example">
                  </div>
                  <div class="modal-footer">
                    <button  type="button" class="btn btn-secondary me-3" data-bs-dismiss="modal">Close</button>
                    <button  type="button" class="btn btn-primary me-5">Submit</button>
                  </div>
                </div>
              </div>
            </div>
  
          </div>
      </div>
  </div>
  
  
  <!-- part-2 -->
  <div class="mt-5">
    <div class="row">
      <div class="col-3 text-center" style="margin-top: 150px;">
        <a  routerLink="" target="_blank"><img style="border-radius: 100%; margin-right: 5px;" height="40px" width="40px" src="https://img.freepik.com/free-vector/instagram-icon_1057-2227.jpg" class="img-fluid social-media-iconss" alt="Instagram"> </a>
        <a routerLink="" target="_blank"><img style="margin-right: 5px; border-radius: 50%;" height="30px" width="30px" src="https://symbols.getvecta.com/stencil_65/4_facebook.f82beabecd.jpg" class="img-fluid social-media-iconss" alt="Facebook"> </a>
        <a routerLink="" target="_blank"><img style="margin-right: 5px; border-radius: 50%;" height="30px" width="30px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnzoHybwxJpnMwj2xiVc4qamwc9VaeqYJkANZFkB_Sd_zlUz2-Dxnxar2JeI5eohXxCVU&usqp=CAU" class="img-fluid social-media-iconss" alt="Twitter"> </a>
        <a routerLink="" target="_blank"><img style="margin-right: 5px; border-radius: 25%;" height="30px" width="30px" src="https://symbols.getvecta.com/stencil_65/10_linkedin.141f816ae8.png" class="img-fluid social-media-iconss" alt="Instagram"> </a>
        <a routerLink="" target="_blank"><img style="margin-right: 5px; border-radius: 50%;" height="40px" width="40px" src="https://indiadataportal.com/idp-mobile/assets/img/youtube.svg" class="img-fluid social-media-iconss" alt="Instagram"> </a>
        <div class="mt-5">
          <img height="30px" width="40px"  src="https://www.iihr.edu.in/wp-content/uploads/2021/06/NACTET-Logo.jpg" alt="">
          <img style="margin-left:30px ;"  height="30px" width="50px" src="https://1000logos.net/wp-content/uploads/2020/09/ISO-Logo.jpg" alt="">
        </div>
      </div>
      <div class="col-3  mt-5">
        <h5 class="ms-3 fw-bold text-success">COURSES</h5>
        <hr style="color: red; ">
        <div class="links">
          <a class="link" routerLink="/course/courses">MEA(R)N Stack Web Development Expert - Angular & React</a>
        </div>      
        <div class="links"> 
          <a class="link" routerLink="/course/courses">Software Testing Specialist</a>
        </div>      
        <div class="links">
          <a class="link" routerLink="/course/courses">Python Django - Angular- Full Stack Web Development Expert</a>
        </div>      
        <div class="links">
          <a class="link" routerLink="/course/courses">Asp.net MVC with Angular - Full Stack</a>
        </div>      
        <div class="links">
          <a class="link" routerLink="/course/courses">Data Science - ML - AI - Big Data with Cloud & TABLEAU</a>
        </div>      
        <div class="links">
          <a class="link"  routerLink="/course/courses">Android Developer Expert Training In Kochi- Flutter</a>
        </div>    
      </div >
      <div class="col-3  mt-5">
        <h5 class="ms-3 fw-bold text-success">USEFUL LINKS</h5>
        <hr style="color: red; ">
        <div class="links ms-3"> 
          <a  class="link" routerLink="">Teachers & Staff</a>
        </div>
        <div class="links ms-3"> 
          <a  class="link" routerLink="/course/gallery">Gallery</a>
        </div>
        <div class="links ms-3"> 
          <a  class="link" routerLink="">Our Courses</a>
        </div>
      </div>
      <div class="col-3  mt-5">
        <h5 class="ms-3 fw-bold text-success">CONTACT US</h5>
        <hr style="color: red; ">
        <h6 class="fw-bold fs-5 ms-3 mt-4" style="color: green;">Cochin</h6>
        <div class="link">
          SkillMentor Pvt Ltd
            3rd Floor, Vallamattam Estate,
            Seaport - Airport Rd, CSEZ,
            Kakkanad, Cochin, Kerala - 682037
        </div>
        <div class="links fw-bold "> 
          <a  routerLink="">Call:+91 8086 651 651</a>
        </div>
        <div class="mt-1 fw-bold"> 
          <a  routerLink="">Email: contact@skillmentor.com</a>
        </div>
        <h6 class="fw-bold fs-5 ms-3 mt-4" style="color: green;">Calicut</h6>
        <div class="link">
          SkillMentor Pvt Ltd
          2nd Floor, 61/10222 ,
          Mullath Building,
          Opp. KSRTC Bus Stand,
          Mavoor Road, Calicut, Kerala-673001
        </div>
        <div class="links fw-bold "> 
          <a  routerLink="">Call: +91 8086 531 531, 0495 - 3573001</a>
        </div>
        <div class="mt-1 fw-bold"> 
          <a  routerLink="">Email: contact@skillmentor.com</a>
        </div>
      </div>
    </div>
  
  </div>
</div>